# A1 - Data Science WarmUP [SOLUTION]

Let's get the braincells going and the heartbeat running, since we will learn many new and interesting things this semester. 

We skip the whole Hello-World game, because in this master course we wanna reach for the universe.

In [1]:
# We need to add the necessary packages and get a glance sight at the data

import pandas as pd
edits_data = pd.read_csv("page-edits-data.csv", index_col=0)
edits_data

,timestamp,all-editor-types,anonymous,group-bot,name-bot,user
0,2020-01-01T00:00:00.000Z,0,0,0,0,0
1,2020-01-02T00:00:00.000Z,0,0,0,0,0
2,2020-01-03T00:00:00.000Z,0,0,0,0,0
3,2020-01-04T00:00:00.000Z,0,0,0,0,0
4,2020-01-05T00:00:00.000Z,3,0,0,0,3
...,...,...,...,...,...,...
269,2020-09-26T00:00:00.000Z,6,0,0,0,6
270,2020-09-27T00:00:00.000Z,10,0,0,0,10
271,2020-09-28T00:00:00.000Z,12,0,0,0,12
272,2020-09-29T00:00:00.000Z,7,0,0,0,7
273,2020-09-30T00:00:00.000Z,9,0,0,0,9

### I.      Let's reach for the stars

We will visualize the ratio of editor types using different kinds of charts, first using pandas itself and then matplotlib. First, we have to prepare the data a bit. Second, we calculate the sum() per column, make a Dataframe to_frame() out of it (cause it returns a Series), and then drop the first three rows using iloc[], cause we don't need them.

In [1]:
plot_data = edits_data.sum().to_frame(name="groups").iloc[2:]

NameError: name 'edits_data' is not defined

### II.     Data Wrangling

### III.     Wikipedia Edits Plot